<div class="container">
  <div class="row" *ngIf="solicitudes?.length == 0">
    <div class="col-12">
      <div class="card">
        <h4 class="py-3 px-4 mb-0">No tiene ninguna notificación</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12" *ngFor="let c of solicitudes">
      <div class="card border-primary mb-3">
        <div class="card-header d-flex justify-content-between">
          <h5>Nombre del curso: {{ c.curso_nombre }}</h5>
          <!-- <button class="btn btn-secondary">X</button> -->
        </div>
        <div class="card-body">
          <p class="card-text">
            El usuario <strong>{{ c?.usuario_nombre }}</strong>
            {{
              c.situacion_id == 3
                ? "desea unirse a su curso."
                : "lo ha invitado a unirse a su curso"
            }}
          </p>
          <div class="d-flex flex-row-reverse">
            <button
              class="btn btn-danger"
              (click)="bloquearAcceso(c.curso_id, c.usuario_id)"
            >
              {{ c.situacion_id == 3 ? "Rechazar" : "No aceptar" }}
            </button>
            <button
              class="btn btn-secondary mx-2"
              (click)="darAcceso(c.curso_id, c.usuario_id)"
            >
              {{ c.situacion_id == 3 ? "Dar acceso" : "Unirme" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
