<div
  class="
    row
    no-gutters
    border
    rounded
    overflow-hidden
    flex-md-row
    mb-4
    shadow-sm
    h-md-250
    px-2
    mx-1
  "
>
  <!-- Se crea la columna de seis espacios -->
  <div class="col-md-6 p-4 d-flex flex-column bg-white" id="contenido">
    <!-- Se crea etiqueta para el nombre del curso -->
    <h4 class="mb-0">{{ curso?.curso_nombre }}</h4>
    <!-- Se cierra la etiqueta del nombre del curso -->
    <!-- Se crea la etiqueta para mostrar la cateogria del curso -->
    <div class="mb-1 text-muted">
      <small>
        {{ curso | obtenerCategoria: curso?.categoria_id:categorias }}
      </small>
    </div>
    <!-- Se cierra la etiqueta de la cateogria -->
    <!-- Se muestra la descripcion del curso -->
    <p class="card-text mb-auto">
      {{ curso?.curso_descripcion }}
    </p>
    <!-- Se cierra la etiqueta de la descripcion -->
    <!-- Se crea un link a la información del curso -->
    <a class="link" (click)="abrirCurso()">Ver curso</a>
    <!-- Se cierra la etiqueta del link -->
  </div>
  <!-- Se cierra la primera columna -->
  <!-- Se crea la segunda columna -->
  <div class="col-md-6 d-flex justify-content-center" id="imagen">
    <!-- Se crea la etiqueta de la imagen -->
    <img
      src="{{ curso?.curso_imagen }}"
      alt=""
      class="img w-100"
      width="375"
      height="250"
      *ngIf="curso?.curso_imagen != null; else noimagen"
    />
    <!-- Se cierra la etiqueta de la imagen -->
    <!-- Se crea una alternativa para la imagen -->
    <ng-template #noimagen>
      <!-- se muestra la imagen alternativa -->
      <img
        class="img w-100"
        src="assets/noimage.webp"
        width="375"
        height="250"
        alt=""
      />
      <!-- Se cierra la etiqueta de la imagen por defecto -->
    </ng-template>
    <!-- Se cierra el template auxiliar -->
  </div>
  <!-- Se cierra la segunda columna -->
</div>
