<div class="card-body">
  <!-- Se coloca un contenedor para el nombre de la sugerencia -->
  <div class="card-title d-flex justify-content-between align-items-center">
    <!-- Se crea el contenedor del nombre de la sugerencia -->
    <h4 class="">{{ sugerencia?.sugerencia_nombre }}</h4>
    <!-- Se cierra la etiqueta del nombre de la sugerencia -->
    <!-- Se crea la etiqueta para mostrar la categoria del curso -->
    <h6 class="card-subtitle text-muted">
      <!-- {{ getNombreCategoria(sugerencia?.categoria_id) }} -->
      {{ sugerencia | obtenerCategoria: sugerencia?.categoria_id:categorias }}
    </h6>
    <!-- Se cierra la etiqueta de la categoria -->
  </div>
  <!-- Se cierra la etiqueta del contenedor de la cabecera -->

  <!-- Se crea una linea de separación -->
  <hr />

  <!-- Se crea una etiqueta 'p' para mostrar la descripción -->
  <p class="card-text">
    {{ sugerencia?.sugerencia_descripcion }}
  </p>
  <!-- Se cierra la etiqueta de la descripción -->
  <!-- Se crea el contenedor para el cuerpo de la sugerencia -->
  <div class="d-flex justify-content-between align-items-center">
    <!-- Se coloca la fecha de creación -->
    <span>{{
      sugerencia?.sugerencia_fecha_creacion | date: "dd/mm/yyyy"
    }}</span>
    <!-- Se cierra la etiqueta de la fecha de creación -->
    <!-- Se coloca el contenedor para realizar la votación del curso -->
    <span class="h4 align-items-center">
      <!-- Se crea el elemento que mostrara que se ejecuto la votación de la sugerencia -->
      <button
        class="btn"
        [ngClass]="{
          'btn-ligth': !obtenerVotoUsuario(sugerencia?.sugerencia_id),
          'btn-danger': obtenerVotoUsuario(sugerencia?.sugerencia_id)
        }"
        (click)="cambiarEstado(sugerencia?.sugerencia_id)"
        *ngIf="usuarioRegistrado"
      >
        <!-- Se coloca un icono para mostrar que se necesita realizar una seleccion -->
        <em id="favorito{{ i }}" class="h5 uil uil-heart"></em>
        <!-- Se cierra la etiqueta del icono -->
      </button>
      <!-- Se cierra la etiqueta del boton -->
      <!-- Se muestra un icono por defecto para usuarios no registrados -->
      <em
        id="favorito{{ i }}"
        class="h5 uil uil-heart"
        *ngIf="!usuarioRegistrado"
      ></em>
      <!-- Se cierra la etiqueta del icono -->
      <!-- Se crea un contenedor para el numero de votos -->
      <span class="mx-2 h5 mt-2">
        {{ obtenerCantidadVotos(sugerencia?.sugerencia_id) }}
      </span>
      <!-- Se cierra la etiqueta del numero de votos -->
    </span>
    <!-- Se cierra la etiqueta del contenido de la sugerencia -->
  </div>
  <!-- se cierra la etiqueta dle cuerpo de la sugerencia -->
</div>
