<section class="jumbotron text-center mt-5 mb-0 p-5">
  <div class="container">
    <div class="h1 my-3">CURSOS</div>
    <p class="lead text-primary my-3">
      Encuentra una gran variedad de cursos de distintas areas como ciencias,
      idiomas, informatica, letras, etc.
    </p>
    <div class="row w-50 mx-auto justify-content-center mt-5">
      <div class="input-group mb-3 justify-content-center">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <em class="uil uil-search"></em>
          </span>
        </div>
        <input
          type="text"
          class="form-control col-md-5"
          placeholder="Ingrese nombre del curso"
          [(ngModel)]="cursoFilter"
          name="cursoFilter"
          autocomplete="off"
          (keyup)="cambiarPagina()"
        />
        <div class="input-group-prepend">
          <button class="btn btn-outline-danger" (click)="borrarBusqueda()">
            X
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="album pt-5">
  <div class="container">
    <div class="row mb-5 d-flex flex-row-reverse">
      <div class="col-12 col-sm-6 col-md-4">
        <select
          name=""
          id=""
          class="form-select"
          [(ngModel)]="categoria"
          (change)="filtrarCategorias()"
        >
          <option [ngValue]="0">Todas las categorias</option>
          <option *ngFor="let c of categorias" [ngValue]="c?.categoria_id">
            {{ c?.categoria_nombre }}
          </option>
        </select>
      </div>
    </div>

    <div class="row" *ngIf="cursos?.length > 0">
      <div
        class="col-12 col-sm-6 col-lg-4"
        *ngFor="
          let curso of cursos
            | filter: { curso_nombre: cursoFilter }
            | paginate: { itemsPerPage: 9, currentPage: pageActual }
        "
      >
        <app-curso-card
          [curso]="curso"
          [categorias]="categorias"
        ></app-curso-card>
      </div>
    </div>
    <div class="row my-3" *ngIf="cursos?.length > 9">
      <div class="col d-flex justify-content-center">
        <ng-container>
          <pagination-controls
            class="my-pagination"
            maxSize="5"
            [responsive]="responsive"
            [previousLabel]="previousLabel"
            [nextLabel]="nextLabel"
            (pageChange)="pageActual = $event"
          ></pagination-controls>
        </ng-container>
      </div>
    </div>
  </div>
</div>
