<div class="card mb-4 shadow-sm border-primary">
  <div class="card-header bg-light">
    <h5 class="text-primary text-center">{{ curso?.curso_nombre }}</h5>
  </div>
  <img
    src="{{ curso?.curso_imagen }}"
    alt=""
    *ngIf="curso?.curso_imagen != null; else noimagen"
  />
  <ng-template #noimagen>
    <img src="assets/nocoursepublic.webp" alt="" />
  </ng-template>
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button class="btn btn-sm btn-outline-primary" (click)="abrirCurso()">
          Ver más
        </button>
      </div>
      <small class="text-primary h6">
        {{ curso | obtenerCategoria: curso?.categoria_id:categorias }}
      </small>
    </div>
  </div>
</div>
