<div
  class="
    row
    no-gutters
    border
    rounded
    overflow-hidden
    flex-md-row
    mb-4
    shadow-sm
    h-md-250
    px-2
    mx-1
  "
>
  <div class="col-6 p-4 d-flex flex-column bg-white">
    <div class="card-loader card-loader-title mb-4"></div>
    <div
      class="card-loader card-loader-desc"
      *ngFor="let i of [1, 2, 3, 4]"
    ></div>
  </div>
  <div class="col-6 d-flex justify-content-center">
    <div class="card-loader card-loader-img"></div>
  </div>
</div>
