<div class="container-fluid px-0">
  <!-- Se crea la fila del contenedor -->
  <div class="row">
    <!-- Se crea la coluna del titulo -->
    <div class="col-12">
      <!-- Se muestra el titulo del curso -->
      <h4>Cursos recomendados del profesor</h4>
      <!-- Se cierra la etiqueta del nombre del curso -->
    </div>
    <!-- Se cierra la etiqueta del titulo -->
  </div>
  <!-- Se cierra la etiqueta de la fila -->
  <!-- Se crea la fila de los cursos -->
  <div class="row mt-2">
    <!-- Se crea la columna de información -->
    <div class="col-12 col-sm-6 col-md-4" *ngFor="let c of cursos">
      <!-- Se crea la tarjeta de un curso -->
      <div class="card mb-3 border-primary" id="cursos">
        <!-- Se muestra el cuerpo de la tarjeta -->
        <div class="card-body d-flex flex-column justify-content-between">
          <!-- Se muestra el nombre del curso -->
          <h5 class="card-title">{{ c?.curso_nombre }}</h5>
          <!-- Se cierra la etiqueta del nombre del curso -->
          <!-- Se crea el boton de mas información -->
          <button class="btn btn-primary" (click)="verCurso(c?.curso_id)">
            Mas información
          </button>
          <!-- Se cierra la etiqueta del boton -->
        </div>
        <!-- Se cierra la etiqueta del cuerpo de la tarjeta -->
      </div>
      <!-- Se cierra la etiqueta de la tarjeta -->
    </div>
    <!-- se cierra la etiqueta de la columna -->
  </div>
  <!-- Se cierra la etiqueta de la columna -->
</div>
