<!-- Contenedor de la imagen principal y mensaje de la pagina -->
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark mt-5 mb-0">
  <!-- Se crea la primera fila del contenedor -->
  <div class="row">
    <!-- se crea una columna de seis espacios -->
    <div class="col-md-6 px-0">
      <!-- Se crea etiqueta del titulo de la pagina -->
      <h1 class="display-4 font-italic">
        Aprenda en cualquier momento del dia
      </h1>
      <!-- Se cierra la etiqueta h1 -->
      <!-- Se crea etiqueta para colocar información de la pagina -->
      <p class="lead my-3">Web educativo gratuito</p>
      <!-- Se cierra la etiqueta de la información -->
      <!-- Se crea etiqueta que contendra los links a login -->
      <p class="lead mb-0 mt-5">
        <!-- Referencia a la ruta de login -->
        <a
          routerLink="/user/login"
          class="text-white font-weight-bold btn btn-success"
          *ngIf="!estaRegistrado()"
        >
          Inicar sesion
        </a>
        <!-- Se cierra etiqueta del link login -->
        <!-- Se crea etiqueta para redirigir a los cursos inscritos -->
        <a
          routerLink="/cursos/dashboard"
          class="text-white font-weight-bold btn btn-success"
          *ngIf="estaRegistrado()"
        >
          Mis cursos
        </a>
        <!-- Se cierra la etiqueta de los cursos -->
      </p>
      <!-- Se cierra la etiqueta del contenido de la imagen principal -->
    </div>
    <!-- Se cierra la etiqueta de la columna -->
    <!-- Se crea una segunda columna de seis espacios -->
    <div class="col-md-6">
      <!-- Imagen principal de la pagina de inicio -->
      <img src="https://lukaszadam.com/assets/images/popup.svg" alt="" />
      <!-- Se cierra la etiqueta de la imagen -->
    </div>
    <!-- Se ciera la segunda columna del banner -->
  </div>
  <!-- Se cierra la etiqueta de la fila -->
</div>
<!-- Se cierra el contendor del banner -->
<!-- Se crea etiqueta de las cursos con mayor cantidad de alumnos -->
<div class="album py-5 bg-light">
  <!-- Se crea un contenedor para los cursos -->
  <div class="container">
    <!-- Se crea un fila para colocar información -->
    <div class="row my-2">
      <!-- Se crea un columa para mostrar el titulo -->
      <div class="col-6">
        <!-- Titulo de la primera columna -->
        <h3>Cursos más buscados</h3>
        <!-- Se cierra la etiqueta del titulo -->
      </div>
      <!-- Se cierra la etiqueta de la primera columa -->
      <!-- Se crea un segunda columna para referenciar a los cursos -->
      <div class="col-6 d-flex flex-row-reverse">
        <!-- Link hacia la ruta de los cursos -->
        <a class="link" routerLink="/home/curso">Ver todos los cursos</a>
        <!-- Se cierra la etiqueta del link -->
      </div>
      <!-- Se cierra la etiqueta de la segunda columna -->
    </div>
    <!-- Se cierra la primera fila -->
    <!-- Se crea la fila de los cursos -->
    <div class="row">
      <!-- Se crea el contenedor de un curso -->
      <div class="col-md-6" *ngFor="let c of cursos">
        <!-- Se crea la tarjeta para mostrar el contenido del curso -->
        <app-curso-populares
          [curso]="c"
          [categorias]="categorias"
        ></app-curso-populares>
        <!-- se cierra la tarjeta de los cursos -->
      </div>
      <!-- Se cierra el contenedor de los cursos -->
    </div>
    <!-- Se cierra la etiqueta de la fila -->
  </div>
  <!-- Se cierra la etiqueta del contenedor -->
</div>
<!-- Se cierra la etiqueta del album -->
<!-- Se crea un contenedor para las sugerencias -->
<div class="container py-5 mb-5">
  <!-- Se crea una fila para las sugerencias -->
  <div class="row">
    <!-- Se crea una columna para información -->
    <div class="col-12 my-3">
      <!-- Se crea el titulo de la columna -->
      <h3 class="text-center">Mejores sugerencias</h3>
      <!-- Se cierra la etiqueta del titulo -->
    </div>
    <!-- Se cierra la etiqueta de la columna  -->
  </div>
  <!-- Se cierra la etiqueta de la fila -->
  <!-- Se crea una segunda fila para mostrar las sugerencias -->
  <div class="row" *ngIf="sugerencias?.length > 0">
    <!-- Se crea una colunma de doce para mostrar la información -->
    <div class="col-12 col-md-4" *ngFor="let s of sugerencias">
      <!-- Se crea una tarjeta -->
      <app-sugerencia-populares [sugerencia]="s"></app-sugerencia-populares>
      <!-- Se cierra el contenedor de la tarjeta -->
    </div>
    <!-- Se cierra la etiqueta de la columna -->
  </div>
  <!-- Se cierra la segunda fila -->
  <!-- Se crea una tercera fila -->
  <div class="row">
    <!-- Se crea una columan de doce espacios -->
    <div class="col-12 d-flex flex-row-reverse">
      <!-- Se crea un link hacia todas las sugerencias -->
      <a class="link" routerLink="/sugerencias">Ver todas las sugerencias</a>
      <!-- Se cierra la etiqueta del link -->
    </div>
    <!-- Se cierra la columna -->
  </div>
  <!-- Se cierra la etiqueta de la fila -->
</div>
<!-- Se cierra el contenedor de las sugerencias -->
<!-- Se crea una margen inferior -->
<div class="my-5"></div>
<!-- Se cierra la etiqueta del margen inferior -->
