<div class="container">
  <div class="row my-3">
    <div class="col-12 d-flex justify-content-between">
      <input
        type="text"
        name=""
        id=""
        class="form-control me-3"
        [(ngModel)]="tareaFiltro"
        placeholder="Buscar tarea"
      />
      <button
        class="btn btn-info"
        (click)="openModal()"
        *ngIf="usuarioProfesor"
      >
        Nuevo
      </button>
    </div>
    <div class="col-12" *ngIf="tareas?.length > 0">
      <div
        id="accordion"
        class="card-expansion mt-3"
        *ngFor="let t of tareas | filter: { tarea_nombre: tareaFiltro }"
      >
        <app-tarea-card
          [tarea]="t"
          [usuarioProfesor]="usuarioProfesor"
        ></app-tarea-card>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
